.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 10rem;
  padding-top: 9rem;
}
.about-text {
  line-height: 1.5;
}
.about-paragraph{
  margin-bottom: 2rem;

}
.about-text h1 {
  margin: 0;
  font-weight: bold;
  color: var(--font-high-emphasis, #25282b);
}
.about-btn {
  padding: .5rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--font-high-emphasis, #25282b);
  background: var(--brand-yellow, #fdc435);
}
.about-img {
  width: 50%;
  height: 50vh;
  object-fit: cover;
  border-radius: 50%;
}
.about-mobile-img {
  display: none;
}

/* Dark theme css */
#dark .about-container {
  background-color: var(--body-background);
  color: var(--body-color);
}
#dark .about-text h1 {
  color: var(--body-color);
}
/* Mobile screen css */
@media only screen and (max-width: 767px) {
  .about-container {
    gap: 0.7rem;
    padding: 9rem 3rem 0;
  }

  .about-text h1 {
    font-size: 1.4em;
  }
  .about-btn {
    margin-top: 1.5rem;
    padding: 0.7rem 1.8rem;
    border-radius: 0.5rem;
  }

  .about-mobile-img {
    margin-top: 0.5rem;
    display: flex;
    width: 80%;
    object-fit: cover;
    height: 60vh;
  }

  .about-img {
    display: none;
  }
}
  