*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
button{
    border: none;
    cursor: pointer;

}
.App{
    font-family: "Nunito", sans-serif;
    color: #828282;
    background-color: #F9FAFF;
}

